<html>

<head>
    <title>Details</title>
    <link rel="stylesheet" href='/css/mystyle.css'>
</head>

<body>
    <div>
        <h1>
            <%= products.title %>
        </h1>
        <h2>Product Id : <%= products.productId %>
        </h2>
        <h2>Price : <%= products.price %>
        </h2>
        <h2>warranty : <%= products.warranty %>
        </h2>
        <h2>country : <%= products.country %>
        </h2>
    </div>
</body>

</html>